name: Update Profile Views Counter

on:
  schedule:
    # Runs every hour
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  update-counter:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Update profile views counter
        uses: antonkomarev/github-profile-views-counter@master
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: Aqila-Farahmand
